.profile__about {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-grow: 1000;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 404px) {
  .profile__about {
    text-align: center;
    margin-bottom: 10px;
  }
}
