.button_size_l {
  padding: 14px 75px;
  font-size: 18px;
  line-height: 22px;
  background-size: 22px;
}

.button_size_l:empty {
  height: 50px;
}

@media screen and (max-width: 410px) {
  .button_size_l {
    background-size: 16px;
  }
}
